################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.vs/CodePlog.Api.slnx/config
/Api/.vs/CodePlog.Api.slnx
/UI/Plog/src/app/environments.ts
/Api/CodePlog.Api/CodePlog.Api.csproj
